*/!**/*.xcodeproj
*/!**/*.pbxproj
*/!**/*.xcworkspacedata
*/!**/*.xcsettings
*/!**/*.xcscheme
*/*.pbxuser
*/!default.pbxuser
*/*.mode1v3
*/!default.mode1v3
*/*.mode2v3
*/!default.mode2v3
*/*.perspectivev3
*/!default.perspectivev3
*/xcuserdata
*/*.xccheckout
*/*.moved-aside
*/DerivedData
*/*.hmap
*/*.ipa
*/*.xcuserstate
*/project.xcworkspace
*/**/.xcode.env.local
*/build/
*/packages/react-native-gradle-plugin/build/
*/packages/rn-tester/build
*/packages/rn-tester/android/app/.cxx/
*/packages/rn-tester/android/app/build/
*/packages/rn-tester/android/app/gradle/
*/packages/rn-tester/android/app/gradlew
*/packages/rn-tester/android/app/gradlew.bat
*/ReactAndroid/build/
*/ReactAndroid/.cxx/
*/ReactAndroid/gradle/
*/ReactAndroid/gradlew
*/ReactAndroid/gradlew.bat
*/ReactAndroid/hermes-engine/build/
*/ReactAndroid/hermes-engine/.cxx/
*/template/android/app/build/
*/template/android/build/
*/.buckd
*/buck-out
*/.lsp.buckd
*/.lsp-buck-out
*/ReactAndroid/src/main/jni/prebuilt/lib/
*/ReactAndroid/src/main/gen
*/.project
*/.settings
*/.classpath
*/.watchmanconfig
*/.idea
*/.gradle
*/local.properties
*/*.iml
*/android/
*/node_modules
*/*.log
*/.nvm
*/bots/node_modules/
*/package-lock.json
*/.DS_Store
*/ReactAndroid/src/androidTest/assets/AndroidTestBundle.js
*/*.js.meta
*/coverage
*/third-party
*/*.xcodeproj
*/ReactCommon/**/*.xcodeproj
*/Libraries/FBLazyVector/**/*.xcodeproj
*/Libraries/RCTRequired/**/*.xcodeproj
*/React/CoreModules/**/*.xcodeproj
*/React/FBReactNativeSpec/**/*.xcodeproj
*/packages/react-native-codegen/**/*.xcodeproj
*/vendor
*/template/vendor
*/template/ios/build/
*/template/ios/Pods/
*/template/ios/Podfile.lock
*/packages/rn-tester/Gemfile.lock
*/packages/rn-tester/Pods/*
*/!/packages/rn-tester/Pods/__offline_mirrors__
*/React/FBReactNativeSpec/FBReactNativeSpec
*/packages/react-native-codegen/lib
*/ReactCommon/react/renderer/components/rncore/
*/packages/rn-tester/NativeModuleExample/ScreenshotManagerSpec*
*/sdks/hermes
*/sdks/download
*/.vscode
*/.vs
*/*.hprof